<!--  ONE WAY DATA BINDING: (submit) event binding on the left, "onSubmit()" handling expression is on the right -->
<!-- When submit event occurs, onSubmit() handling expression is executed -->

<!-- # symbol is used to create local variable.  -->
<!-- the paranthesis around submit make it event-binding -->
<form (submit)="onSubmit()" #commentForm="ngForm">
    <div>
        <label for="name">Name</label>
        <input type ="text" name="name" [(ngModel)]="name" /> 
    </div>
    <div>
        <label for="comment">Comment</label>
        <textarea name="comment" type ="text" [(ngModel)]="comment"></textarea>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>